@mixin hover {
  &:hover,
  &:focus {
    outline: none;
    cursor: pointer;

    transition: 0.3s;
  }

  &:active {
    opacity: 0.9;
  }

  &:not(:hover),
  &:not(:focus) {
    transition: 0.3s;
  }
}
