.social {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;

  li {
    display: block;

    border: 1px solid $gray;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;

@include hover;

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  svg {
    fill: $gray;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.social--footer {
  margin-top: 40px;

  li {
    border: 1px solid $brown;
  }

  svg {
    fill: $brown;
  }

  @media (max-width: $mobile-width) {
    display: flex;
  }
}
